body {
    margin: 0;
    padding: 0;
    background-color: #868686;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    width: 1050px;
    height: 900px;
    background-color: #eee;
}